@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #da190f;
    --bg: #13131a;
    --bg-card: #0c0c14;
    --border: 0.1rem solid grey;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'sans-serif';
}

body {
    background: var(--bg);
    color: white;
}

button {
    width: 12em;
    height: 2em;
    background-color: var(--main-color);
    color: white;
    border: 1px solid red;
    cursor: pointer;
}

button:hover {
    font-size: 1.2em;
    border-radius: 20px;
    transition: 1s;
} 

header {
    background: var(--bg);
    padding: 1.3rem 7%;
    position: sticky;
    border-bottom: var(--border);
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navegacao a {
    color: white;
    font-size: 15px;
}

.navegacao a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 0.5rem;
    transition: 1s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 70px;
    border-radius: 50%;
    transition: 1s ease-in-out;
}

nav img:hover {
   transform: rotate(360deg);
}

.navegacao ol {
    display: flex;
    gap: 2em;
}

.icones {
    display: flex;
    gap: 1.5em;
}

.icones a{
   color: white;
}

.icones a:hover {
    color: var(--main-color);
    transition: 0.5s;
}


.containerPizza {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.589) 25%), url(Pizzaria-Hash-main/images/home.jpg);
    background-position: center center;
    background-size: cover;
    height: 80vh;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    border-bottom: var(--border);
}

.containerBemVindo {
   max-width: 60rem;
   padding: 10em;
}

.containerBemVindo h1 {
    width: 50%;
    font-size: 3em;
    text-transform: uppercase;
}

.containerBemVindo p {
    font-size: 1.3em;
    line-height: 1.5em;
    padding-bottom: 1em;
    font-weight: lighter;
}

.containerSobrenos {
    padding: 2em 5em;
}

.containerSobrenos h1 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 2em;
}

.containerSobrenos span {
    color: red;
}

.sobre{
    display: flex;
    align-items: center;
    border: var(--border);
    background: var(--bg-card);
    border-radius: 50px;
}

.sobre img {
    width: 35em;
    border-radius: 50px;
}

.torna {
   text-align: center;
   padding: 0 10em;
}

.torna h2 {
    font-size: 3em;
    padding-bottom: 1.5em;
    text-transform: uppercase;
}

.torna p {
    padding-bottom: 2em;
}

